APP/.DS_Store
APP/build/
APP/*.pbxuser
APP/!default.pbxuser
APP/*.mode1v3
APP/!default.mode1v3
APP/*.mode2v3
APP/!default.mode2v3
APP/*.perspectivev3
APP/!default.perspectivev3
APP/xcuserdata
APP/*.xccheckout
APP/*.moved-aside
APP/DerivedData
APP/*.hmap
APP/*.ipa
APP/*.xcuserstate
APP/build/
APP/.idea
APP/.gradle
APP/local.properties
APP/*.iml
APP/node_modules/
APP/npm-debug.log
APP/yarn-error.log
APP/buck-out/
APP/\.buckd/
APP/*.keystore
APP/!debug.keystore
APP/*/fastlane/report.xml
APP/*/fastlane/Preview.html
APP/*/fastlane/screenshots
APP/*.jsbundle
APP/ios/Pods/

API/__pycache__/
API/setup.cfg
API/.env